<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="/img/favicon.ico">
<!-- css -->
<link rel="stylesheet" href="/css/style.css">

<!-- Googleフォント -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
<title>削除 完了</title>
</head>
<body>
    <!-- 共通ヘッダー -->
    <header class="header">
        <img class="headerlogo" src="/img/simplediary.png" alt="ロゴ">
    </header>
    <h3>日記を削除しました</h3>
    <a th:href="@{/diary/top}">トップ画面</a>へ
</body>
</html>